#login.Container{
    display: flex;
    padding: 2rem;
    justify-content:center;
}

.card{
    background-color:white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    padding:4rem;
 
}
.center{
    justify-content: center;
}