#HomePage {
    width: 100%;
    height: 100%;
    background-color: #f5e9dc;
    font-family: "Montserrat";
}

#main-area {
    width: calc(100% - 2.9rem);
    height: calc(100% - 8.2rem);
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 6fr 1fr;
    gap: 1rem 5rem;
}

#inventory {
    grid-column: span 1;
    grid-row: span 1;
    height: 100%;
    width: 100%;
    border: 3px solid rgb(101, 24, 101);
    background: linear-gradient(#623177, #9198e5);
    padding-top: 1rem;

    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#inventory h1 {
    color: pink;
    border: 3px solid white;
    border-radius: 15px;
    padding: 1rem;
}

#recipes {
    padding: 1rem;
    background: linear-gradient(#592079, #9198e5);
    border: 3px solid rgb(101, 24, 101);
    max-height: 80vh;
    overflow-y: scroll;
}

#recipes h1 {
    margin-left: 1rem;
    color: pink;
    border: 3px solid white;
    border-radius: 15px;
    padding: 1rem;
}

#brewButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#brewButton {
    padding: 1rem;
    font-size: 2rem;
    background-color: #41204f;
    color: pink;
    border: white 2px solid;

    font-family: "Montserrat";
    transition: 0.1s;
}

#brewButton:hover {
    cursor: pointer;
    background-color: #562a6a
}

.openedFridge {
    width: 100%;
    height: 100%;
}

.openedFridge:hover {
    cursor: pointer;
}

.closedFridge {
    width: 100%;
    height: 100%;
}

.closedFridge:hover {
    cursor: pointer;
}

.ingredients {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
    height: 40vh;
    z-index: 10;
    overflow: scroll;
    background-color: rgb(73, 73, 73);
    padding: 0 10px;
    color: pink;
    max-width: 100%;

}

.ingredients::-webkit-scrollbar {
    display: none;
}

.addIngredientsButton {
    position: absolute;
    top: 73%;
    left: 15%;
    transform: translate(0, -50%);
    z-index: 10;
    color: pink;
    background-color: #41204f;
    font-family: "Montserrat";
}

.addIngredientsButton:hover {
    cursor: pointer;
}

#karina {
    display: flex;
    justify-content: space-between;
}

#karina img {
    width: 50px;
}

.addIngredientsPopup {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(300px, 50%, 80vw);
    height: 50%;
    background-color: black;
    border: 2px solid #592079;
    border-radius: 5px;
    z-index: 20;
    animation: fly-up-bottom 0.5s ease-out 1;
    animation-fill-mode: forwards;
    color: pink;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 2rem;
    font-family: "Montserrat";
    justify-content: center;
}

.ingredientForm {
    display: flex;
    justify-content: space-between;

}

.closeIcon {
    cursor: pointer;
}

.closeIcon {
    position: absolute;
    top: 5px;
    right: 5px;
}

.ingredientInput {
    flex: 1;
    max-width: 60%;
}



.darkOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 15;
    background-color: rgba(0, 0, 0, 0.5);
}

.darkOverlayBrew {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 15;
    background-color: rgba(0, 0, 0, 0.5);
    animation: appear 2s linear infinite;
}

.submitIngredientButton {
    width: 50%;
    margin: 0 auto;
    font-size: 2rem;
    font-family: "Montserrat";
}

.addRecipePopup {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(300px, 50%, 80vw);
    height: 50%;
    background-color: black;
    border: 2px solid #592079;
    border-radius: 5px;
    z-index: 20;
    animation: fly-up-bottom 0.5s ease-out 1;
    animation-fill-mode: forwards;
    color: pink;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 2rem;
    font-family: "Montserrat";
    justify-content: center;
}

@keyframes fly-up-bottom {
    from {
        bottom: -50%;
        opacity: 0;
    }

    to {
        bottom: 0%;
        opacity: 1;
    }
}

@keyframes appear {
    from {
        opacity: 0.5;
    }

    50% {
        opacity: 1
    }

    to {
        opacity: 0.5;
    }
}

#karina img{
    width: 10%;

}
#Home-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
#Home-btn button {
  font-size: 18px;
  font-family: "Montserrat";
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid #FF0072;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #FF0072;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

#Home-btn button:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #FF0072;
  z-index: -1;
}

#Home-btn button:hover, button:focus {
  color: white;
}

#Home-btn button:hover:before, button:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

#Home-btn button:active {
  transform: scale(0.9);
}

.karinaStir {
    position: absolute;
    bottom: 0;
    z-index: 30;
    left: 50%;
    transform: translate(-50%, 0);
}

.karinaStir > img {
    width: 80vw;
}

.recipes {
    overflow-y: scroll;
}

.step {
    color: white;
}