#HomePage {
    width: 100%;
    height: 100%;
    background-color: #f5e9dc;
    font-family: "Montserrat";
}

#main-area {
    width: calc(100% - 2.9rem);
    height: calc(100% - 8.2rem);
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 6fr 1fr;
    gap: 1rem 5rem;
}

#inventory {
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    width: 100%;
    border: 3px solid rgb(101, 24, 101);
    background: linear-gradient(#623177, #9198e5);
    padding-top: 1rem;

    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inventory h1 {
    color: pink;
    border: 3px solid white;
    border-radius: 15px;
    padding: 1rem;
}

#recipes {
    padding: 1rem;
    background: linear-gradient(#592079, #9198e5);
    border: 3px solid rgb(101, 24, 101);

}

#recipes h1 {
    margin-left: 1rem;
    color: pink;
    border: 3px solid white;
    border-radius: 15px;
    padding: 1rem;
}

#brewButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#brewButton {
    padding: 1rem;
    font-size: 2rem;
    background-color: #41204f;
    color: pink;
    border: white 2px solid;

    font-family: "Montserrat";
    transition: 0.1s;
}

#brewButton:hover {
    cursor: pointer;
    background-color:#562a6a
}

.openedFridge {
    width: 100%;
    height: 100%;
}

.closedFridge {
    width: 100%;
    height: 100%;
}